<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add New Image</title>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header class="container">
        <%- include('./partials/nav') %>
    </header>
    <form class="container" action="/add-image-form" method="post">
        <label for="title">Nombre</label>
        <input type="text" name="title" id="title" required>
        <input type="submit" value="Añadir">
    </form>
    <!-- Mostrar un mensaje de confirmación si el usuario acaba de isertar una imagen en la 'base de datos'-->
    <% if (isImagePosted) { %>
        <div class="container alert sucess">Imagen insertada correctamente</div>
        <% } %>
</body>

</html>