<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add New Image</title>
    <script defer src="form.js"></script>


    <%- include('./partials/head') %>

</head>

<body>
    <header class="container">
        <%- include('./partials/nav') %>
    </header>
    <form class="container" action="/add-image-form" method="post">
        <label for="title">Nombre</label>
        <input type="text" name="title" id="title" pattern="[0-9A-Za-z\s_]+" maxlength="30"
            title="Los títulos de las imágenes tan solo puede contener letras, números, espacios en blanco y guión bajo"
            required>
        <label for="url">URL Imagen:</label>
        <input type="url" name="url" id="url" required>

        <input type="submit" value="Añadir">
    </form>
    <!-- Mostrar un mensaje de confirmación o error unificado -->
    <%- include('./partials/message', { message, messageType }) %>


</body>

</html>