<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fototeca IronHack 2024</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
</head>

<body>
    <header class="container">
        <nav>
            <ul>
                <li><strong>FOTOTECA </strong></li>
            </ul>
            <ul>
                <li><a href="/">Mostrar Imágenes</a></li>
                <li><a href="/add-image-form">Añadir Imagen</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <section class="grid">
            <% for (const image of images) { %>
                <article>
                    <%= image.title %>
                </article>
                <% } %>
        </section>
    </main>
</body>

</html>