.alert {
    padding: 20px;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    cursor: pointer;
}

.alert.success {
    background-color: #04AA6D;
}

.image__title {
    text-transform: uppercase;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-form>input {
    margin-bottom: 0;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button__delete {
    background-color: #D93526;
}


@media (min-width: 760px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery__item img {
        aspect-ratio: 1/1;
        width: 100%;
        object-fit: cover;
        /* Escala y recorta la imagen para llenar el contenedor */
    }


}