.alert {
    padding: 20px;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    cursor: pointer;
}

.alert.success {
    background-color: #04AA6D;
}

.image__title {
    text-transform: uppercase;
}

.search-form {
    display: flex;
    gap: 1rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}